@import "../../../../scss/variables.scss";

.copyright {
	opacity: 0.5;
}
.author {
	display: inline-flex;
	flex-direction: column;
	& > * {
		line-height: rem(19);
	}
	@media (max-width: $media-ts+px) {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: rem(72);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(14);
	}
}
.policy {
	margin-left: rem(25);
	display: inline-flex;
	flex-direction: column;
	@media (max-width: $media-ts+px) {
		margin-left: 0;
		justify-content: center;
	}
}
body .policyLink {
	font-size: rem(14);
	text-decoration: underline;
	&:not(:last-child) {
		margin-bottom: rem(16);
	}
	@media (max-width: $media-ts+px) {
		white-space: wrap;
		line-height: rem(16);
	}
}
