@import "../../../../styles/variables.scss";

.links {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	@media (max-width: $media-ts+px) {
		margin-top: 0;
		width: 100%;
		// display: grid;
		// grid-template-columns: repeat(4, auto);
		// grid-column-gap: 15px;
		// justify-content: space-between;
		// display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		// row-gap: 15px;
		column-gap: 15px;
		justify-content: space-between;
	}
}
body .link {
	width: auto;
	// width: min-content;
	transition: opacity $timer-hover;
	&:hover {
		color: var(--color01);
		opacity: 0.5;
	}
	&:not(:last-child) {
		margin-bottom: 24px;
	}
	@media (max-width: $media-ts+px) {
		justify-self: center;
		height: 43px;
		white-space: normal;
		&:not(:last-child) {
			margin-bottom: 0;
		}
	}
}
