.default, .underlined, .nohover {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	line-height: 100%;
	text-align: center;
	white-space: nowrap;
	font-family: var(--font01);
	color: var(--color05);
}
.underlined:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0px;
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--color02);
}
.default:hover, .underlined:hover {
	color: var(--color03);
}
.underlined:hover:after {
	background-color: var(--color03);
}