@import "../../../scss/variables.scss";

$slider-elems-default-offset: 50;
$offset-resize-multiplier: 3.3;

.cars {
	position: relative;
	padding: 40px 0 50px;
	@media (max-width: $media-ts+px) {
		padding: 30px 0;
	}
}
.sliderBox {
	position: relative;
	height: 660px;
}
.loader, .loadError {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	background-color: var(--color01);
}
.loadError {
	z-index: 2;
}
.slider {
	margin-top: 30px;
	position: relative;
	height: 100%;
	@media (max-width: $media-ts+px) {
		margin-top: 10px;
		max-width: 638px;
	}
}
.buttonPrev, .buttonNext, .pagination {
	// required any style to make react classname exist
	user-select: none;
}
.slide {
	position: relative;
	background-color: var(--color01);
	height: 660px;
	margin: 0 auto;
	width: calc(100% - 120px);
	@media (max-width: $media-t+px) {
		margin: 0;
		padding: 40px 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(2, auto);
	}
	@media (max-width: $media-ts+px) {
		padding: 0;
	}
}

body .carImage {
	@media (max-width: $media-ts+px) {
		grid-row: 1;
		grid-column: span 2;
	}
}
body .carName {
// 	font-size: 20px;
// 	font-weight: 500;
	position: absolute;
	top: 0;
	left: $slider-elems-default-offset+px;
	@media (max-width: $media-tl+px) {
		left: resize-multiplier($slider-elems-default-offset, $media-tl, $offset-resize-multiplier);
	}
	@media (min-width: $media-ts+1+px) {
		.modalReadMoreContent & {
			margin-top: 10px;
		}
	}
	@media (max-width: $media-ts+px) {
		position: static;
		grid-row: 2;
		grid-column: span 2;
		text-align: center;
	}
	@media (max-width: $media-ml+px) {
		grid-row: 2;
		grid-column: 1;
		text-align: left;
	}
// 	.modalContent & {
// 		position: static;
// 		font-size: 24px;
// 		text-align: left;
// 	}
}
body .carParams {
	position: absolute;
	top: 25px;
	left: $slider-elems-default-offset+px;
	@media (max-width: $media-tl+px) {
		left: resize-multiplier($slider-elems-default-offset, $media-tl, $offset-resize-multiplier);
	}
	@media (max-width: $media-ts+px) {
		position: static;
		grid-column: 1;
	}
	@media (max-width: $media-ml+px) {
		grid-column: span 2;
	}
// 	.modalContent & {
// 		top: 60px;
// 		left: 16px;
// 		@media (max-width: $media-ts+px) {
// 			margin: 0 auto;
// 			max-width: 500px;
// 			display: grid;
// 			grid-template-columns: repeat(2, 1fr);
// 			grid-column-gap: 20px;
// 		}
// 	}
}
body .carPrice {
	margin-bottom: 10px;
// 	padding-right: 20px;
// 	display: flex;
// 	justify-content: flex-end;
// 	align-items: center;
// 	font-size: 20px;
	position: absolute;
	right: $slider-elems-default-offset+px;
	bottom: 85px;
	@media (max-width: $media-tl+px) {
		right: resize-multiplier($slider-elems-default-offset, $media-tl, $offset-resize-multiplier);
	}
	@media (max-width: $media-ts+px) {
		position: static;
		grid-row: 3;
		grid-column: 2;
		margin: 0;
		// padding: 0;
// 		font-weight: 500;
		align-self: start;
	}
	@media (max-width: $media-ml+px) {
		grid-row: 2;
		grid-column: 2;
	}
}

.actionButtons {
	display: flex;
	position: absolute;
	right: $slider-elems-default-offset+px;
	bottom: 30px;
	@media (max-width: $media-tl+px) {
		right: resize-multiplier($slider-elems-default-offset, $media-tl, $offset-resize-multiplier);
	}
	@media (max-width: $media-ts+px) {
		position: static;
		grid-column: span 2;
		justify-self: center;
		flex-wrap: wrap;
		justify-content: center;
	}
}
.actionBtn, .infoBtn {
	padding: 0 20px;
	min-width: 184px;
	height: 55px;
	border-radius: 45px;
	font-size: 20px;
	margin-left: 4px;
	margin-right: 4px;
	@media (max-width: $media-ts+px) {
		margin-top: 10px;
		height: 43px;
	}
}

