@import "../../../../scss/variables.scss";

.alert {
	width: 100vw;
	max-width: rem(630);
	min-height: rem(300);
	padding: rem(50) 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: rem(24);
	font-weight: 500;
}
.username {
	margin-top: rem(20);
	font-size: rem(22);
}
.button {
	margin-top: rem(40);
	min-width: rem(200);
}