@import "../../../../../scss/variables.scss";

.wrapper {
	position: relative;
	display: flex;
	min-height: rem(200);
	@media (max-width: $media-form2+px) {
		width: 100%;
		justify-content: space-around;
	}
	@media (max-width: $media-ml+px) {
		flex-direction: column-reverse;
	}
}
.info {
	position: relative;
}
body .carImage {
	height: rem(290);
	@media (max-width: $media-form+px) {
		height: rem(200);
	}
	@media (max-width: $media-form2+px) {
		height: rem(130);
	}
}
.carParams {

}
body .infoBtn {
	margin: rem(10) auto 0 auto;
	min-width: rem(150);
}

.list {
	position: relative;
}
.listTitle {
	margin-bottom: rem(15);
	font-size: rem(24);
	text-align: center;
}
.listItem {
	min-width: rem(300);
	height: rem(46);
	padding: 0 rem(15);
	display: flex;
	align-items: center;
	border-radius: rem(46);
	cursor: pointer;
	border: solid rem(1) var(--color03);
	box-shadow: inset 0 0 0 rem(1) transparent;
	transition: box-shadow $timer-hover;
	&:not(:last-child) {
		margin-bottom: rem(10);
	}
	&:hover, &.active {
		box-shadow: inset 0 0 0 rem(1) var(--color03);
	}
	span {
		max-height: rem(40);
		overflow: hidden;
	}
}
.listIcon {
	flex: 0 0 auto;
	margin-right: rem(15);
	width: rem(30);
	height: rem(30);
	border-radius: 50%;
	fill: transparent;
	transition: fill $timer-hover;
	.active & {
		fill: var(--color04);
		pointer-events: none;
	}
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	background-color: rgba(255,255,255,0.3);
}