@import "../../../../styles/variables.scss";

body .popup {
	left: calc(50% - 153px);
	top: calc(100% + 6px);
	@media (max-width: $media-ml+px) {
		left: 0;
		width: 100%;
	}
}
.popupContent {
	position: relative;
	height: 380px;
	background-color: var(--color01);
	color: var(--color02);
	border-radius: 16px;
	user-select: none;
	box-shadow: 0 0 5px 0 var(--color06);
	.divider {
		position: absolute;
		left: 140px;
		top: 14%;
		height: 72%;
	}
}

.listWrapper {
	margin-right: 10px;
	padding: 16px 10px;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: 16px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color01);
		border-radius: 10px;
		border: solid 1px var(--color02);
	}
	&::-webkit-scrollbar-track {
		background: var(--color02);
		border-radius: 10px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	scrollbar-width: thin; // = 8px
	scrollbar-color: var(--color01) var(--color02); // thumb track
	overscroll-behavior: contain;
	@media (max-width: $media-ml+px) {
		&::-webkit-scrollbar {
			width: 8px;
		}
	}
}
.list {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: 20px;
}
.item {
	width: 120px;
	height: 50px;
	font-size: 20px;
	border-radius: 33px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color $timer-hover, color $timer-hover;
	@media (max-width: $media-form2+px) {
		font-size: 18px;
	}
	@media (max-width: $media-ml+px) {
		font-size: 16px;
	}
	&:hover, &.active {
		background-color: var(--color02);
		color: var(--color01);
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
