@import "../../../../../styles/variables.scss";

.popup {
	height: 414px;
	user-select: none;
	.divider {
		position: relative;
		top: 16%;
		height: 75%;
	}
}
.month {
	padding: 24px 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	cursor: default;
}
.days {
	height: 48px; //?
	display: grid;
	grid-template-columns: repeat(7, 48px);
	cursor: default;
	& > * {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color03);
	}
}
.dates {
	display: grid;
	grid-template-columns: repeat(7, auto);
}
.dateItem {
	width: 48px;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	border-radius: 50%;
	cursor: pointer;
	transition: background-color $timer-hover, color $timer-hover;
	&:hover, &.active, &.otherPeriodActive {
		color: var(--color01);
	}
	.pickup_date & {
		&:hover, &.active {
			background-color: var(--color02) !important;
		}
		&.otherPeriodActive {
			background-color: var(--color03);
		}
	}
	.return_date & {
		&:hover, &.active {
			background-color: var(--color03) !important;
		}
		&.otherPeriodActive {
			background-color: var(--color02);
		}
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
