@import "../../../scss/variables.scss";

.swiper {
	display: grid;
}
swiper-container {
	width: 100%;
}
.swiperNavigationBox {
	display: flex;
	justify-content: center;
	@media (max-width: $media-t+px) {
		position: relative;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		margin-top: 10px;
		margin-bottom: 20px;
		.paginationTop & {
			grid-row: 1;
			margin-top: 0;
		}
	}
	@media (max-width: $media-ts+px) {
		margin-bottom: 0;
	}
}
.swiper-button-prev, .swiper-button-next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: solid 2px var(--color03);
	fill: var(--color03);
	overflow: hidden;
	background-color: var(--color01);
	&:after {
		display: none;
	}
	svg {
		margin-left: 2px;
		width: 28px;
		height: 28px;
	}
	@media (max-width: $media-t+px) {
		flex: 0 0 auto;
		position: static;
		margin: 0;
		width: 40px;
		height: 40px;
		svg {
			width: 15px;
			height: 15px;
		}
	}
}
.swiper-button-prev {
	left: 0;
	transform: rotate(180deg);
}
.swiper-button-next {
	right: 0;
}

.swiper-pagination {
	font-size: 0;
	top: auto !important;
	bottom: 0 !important;
	@media (max-width: $media-t+px) {
		position: relative;
	}
}
.swiper-pagination-bullet {
	position: relative;
	opacity: 1;
	width: 20px;
	height: 20px;
	background-color: var(--color01);
	border: solid 1px var(--color03);
	overflow: hidden;
	@media (max-width: $media-t+px) {
		width: 16px;
		height: 16px;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		background-color: var(--color03);
		opacity: 0;
		transition: opacity var(--timer-hover);
	}
	&:hover:after {
		opacity: 0.2;
	}
}
.swiper-pagination-bullet-active {
	background-color: var(--color03);
}
