@import "../../../../../scss/variables.scss";

.options {
	position: relative;
	@media (max-width: $media-form2+px) {
		display: flex;
		flex-direction: column;
	}
	& > * {
		margin-right: rem(20);
		@media (max-width: $media-form2+px) {
			&:not(:first-child) {
				margin-top: rem(16);
			}
		}
		@media (max-width: $media-ml+px) {
			margin-right: 0;
		}
	}
}
