@import "../../../../../scss/variables.scss";

.wrapper {
	background-color: lightcyan;
	// display: flex;
}
.icon {
	width: 30px;
	height: 30px;
}
.text {
	color: blue;
}
.carName {
	font-size: 20px;
}
.totalPrice {
	font-size: 22px;
	font-weight: 500;
	color: var(--color08);
}