@import "../../../../../scss/variables.scss";

.wrapper {
	padding: rem(20);
	border-radius: rem(25);
	border: solid rem(1) var(--color02);
	color: var(--color02);
	fill: var(--color02);
}
.item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: rem(15);
	}
}
.icon, .currencyIcon {
	margin-bottom: rem(2);
	margin-right: rem(5);
	flex-shrink: 0;
	width: rem(20);
	height: rem(20);
}
.currencyIcon {
	margin-right: 0;
	margin-left: rem(3);
	width: rem(16);
	height: rem(16);
}
.title {
	font-size: rem(18);
	font-weight: 500;
}
.text {
	margin-left: rem(10);
	font-size: rem(18);
}
.carPrice, .totalPrice, .days, .returnTax {
	.text {
		font-weight: 500;
		font-size: rem(18);
	}
}
.totalPrice {
	.title {
		font-size: rem(26);
		font-weight: 500;
	}
	.text {
		font-size: rem(26);
		font-weight: 500;
		color: var(--color08);
	}
	.currencyIcon {
		width: rem(20);
		height: rem(20);
		fill: var(--color08);
	}
}
.carPrice, .totalPrice {
	position: relative;
	padding-top: rem(20);
	&:before {
		content: '';
		position: absolute;
		top: rem(2);
		left: 0;
		display: inline-block;
		width: 100%;
		height: rem(1);
		background-color: var(--color02);
	}
}
