@import "../../../../scss/variables.scss";

.account {
	margin-top: rem(5);
	display: flex;
	align-items: center;
	& > * {
		margin-left: rem(28);
		@media (max-width: $media-ts+px) {
			margin-left: resize-multiplier(28, $media-ts, 1.2);
		}
		@media (max-width: $media-ml+px) {
			margin-left: 0;
		}
	}
	@media (max-width: $media-ml+px) {
		margin-top: 0;
		flex-grow: 1;
		justify-content: space-between;
	}
}
.account .divider {
	margin-left: rem(19);
	@media (max-width: $media-ts+px) {
		margin-left: rem(10);
	}
	@media (max-width: $media-ml+px) {
		display: none;
	}
}
.userNav {
	position: relative;
}
body .signinButton {
	min-width: rem(112);
	height: rem(39);
	border-radius: rem(28);
	@media (max-width: $media-ml+px) {
		line-height: rem(14);
		min-width: rem(85);
		max-width: rem(100);
		height: rem(35);
	}
}
.profileButton {
	width: rem(39);
	height: rem(39);
	border-radius: rem(5);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color05);
	fill: var(--color06);
	border-radius: rem(6);
	overflow: hidden;
}
body .userPhoto {
	padding-bottom: 100%;
}
body .popup {
	top: calc(100% + rem(6));
	left: auto;
	right: rem(-8);
}
.popupContent {
	padding: rem(20);
	border-radius: rem(16);
	background-color: var(--color01);
	box-shadow: 0 0 rem(5) 0 var(--color06);
}

body .popupButton {
	min-width: rem(112);
	height: rem(35);
	border-radius: rem(28);
	&:not(:first-child) {
		margin-top: rem(10);
	}
	@media (max-width: $media-ml+px) {
		line-height: rem(14);
		min-width: rem(85);
		max-width: rem(100);
		height: rem(35);
	}
}

