@import "../../../../scss/variables.scss";

.account {
	margin-top: 5px;
	display: flex;
	align-items: center;
	& > * {
		margin-left: 28px;
		@media (max-width: $media-ts+px) {
			margin-left: resize-multiplier(28, $media-ts, 1.2);
		}
		@media (max-width: $media-ml+px) {
			margin-left: 0;
		}
	}
	@media (max-width: $media-ml+px) {
		margin-top: 0;
		flex-grow: 1;
		justify-content: space-between;
	}
}
.account .divider {
	margin-left: 19px;
	@media (max-width: $media-ts+px) {
		margin-left: 10px;
	}
	@media (max-width: $media-ml+px) {
		display: none;
	}
}
.userNav {
	position: relative;
}
body .signinButton {
	min-width: 112px;
	height: 39px;
	border-radius: 28px;
	@media (max-width: $media-ml+px) {
		line-height: 14px;
		min-width: 85px;
		max-width: 100px;
		height: 35px;
	}
}
.profileButton {
	width: 39px;
	height: 39px;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color05);
	fill: var(--color06);
	border-radius: 6px;
	overflow: hidden;
	// @media (max-width: $media-ml+px) {
	// 	width: 39px;
	// 	height: 39px;
	// }
}
body .userPhoto {
	padding-bottom: 100%;
}
body .popup {
	top: calc(100% + 6px);
	left: auto;
	right: -8px;
}
.popupContent {
	padding: 20px;
	border-radius: 16px;
	background-color: var(--color01);
	box-shadow: 0 0 5px 0 var(--color06);
}

body .popupButton {
	min-width: 112px;
	height: 35px;
	border-radius: 28px;
	&:not(:first-child) {
		margin-top: 10px;
	}
	@media (max-width: $media-ml+px) {
		line-height: 14px;
		min-width: 85px;
		max-width: 100px;
		height: 35px;
	}
}

