@import "../../../scss/variables.scss";

.account {
	padding-top: rem(30);
	.container {
		@media (max-width: $media-ts+px) {
			max-width: rem(680);
		}
	}
}
.box {
	position: relative;
	@media (min-width: $media-tl+1+px) {
		margin-top: rem(40);
	}
	& > *:not(:last-child) .content {
		border-bottom: solid rem(1) var(--color02);
	}
}
.booking, .history, .settings {
	display: flex;
	width: 100%;
	@media (max-width: $media-tl+px) {
		flex-direction: column;
	}
}
.header {
	flex: 0 0 rem(186);
	position: relative;
	font-size: rem(24);
	border-right: solid rem(1) var(--color02);
	.booking & {
		padding-top: rem(6);
	}
	.history & {
		padding-top: rem(48);
	}
	.settings & {
		padding-top: rem(45);
	}
	@media (max-width: $media-tl+px) {
		flex: 0 0 auto;
		border: none;
		.booking &, .history &, .settings & {
			margin-top: rem(26);
			margin-bottom: rem(26);
			padding-top: 0;
			line-height: rem(40);
			span {
				display: inline-block;
				line-height: rem(40);
			}
		}
	}
	@media (max-width: $media-m+px) {
		font-size: rem(20);
		font-weight: 500;
	}
}
.spoilerButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color: transparent;
	@media (min-width: $media-m+1+px) {
		display: none;
	}
}
.spoilerIcon {
	width: rem(18);
	height: rem(18);
	transform: rotate(90deg);
	fill: var(--color02);
}
.content {
	position: relative;
	margin-left: rem(28);
	flex: 1 1 auto;
	min-height: rem(150);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: rem(48);
	grid-row-gap: rem(40);
	.booking & {
		padding-top: rem(6);
		padding-bottom: rem(40);
	}
	.history & {
		padding-top: rem(48);
		padding-bottom: rem(16);
	}
	.settings & {
		padding-top: rem(45);
		padding-bottom: rem(70);
		display: flex;
	}
	@media (max-width: $media-tl+px) {
		margin-left: 0;
		.booking &, .history &, .settings & {
			padding-top: 0;
			padding-bottom: rem(30);
		}
	}
	@media (max-width: $media-ts+px) {
		grid-template-columns: repeat(2, auto);
		grid-row-gap: rem(36);
	}
	@media (max-width: $media-ml+px) {
		grid-column-gap: rem(30);
	}
	@media (max-width: $media-m+px) {
		grid-template-columns: 100%;
		grid-row-gap: rem(20);
	}
}
.spoilerContent {
	width: 100%;
	height: 100%;
	@media (max-width: $media-m+px) {
		height: 0;
		overflow: hidden;
		&.spoilerActive {
			height: auto;
		}
		&:not(.spoilerActive) {
			padding-bottom: 0;
		}
	}
}

.bookingItem, .historyItem {
	width: 100%;
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: rem(-24);
		display: inline-block;
		width: rem(1);
		height: 50%;
		background-color: var(--color02);
	}
	&:nth-child(4n-3) {
		&:before {display: none;}
	}
	@media (max-width: $media-ts+px) {
		&:nth-child(odd) {
			&:before {display: none;}
		}
	}
	@media (max-width: $media-ml+px) {
		&:before {
			left: rem(-15);
		}
	}
	@media (max-width: $media-m+px) {
		&:nth-child(n+1) {
			padding: 0;
			&:before {display: none;}
		}
		&:not(:first-child) {
			padding-top: rem(20);
			&:before {
				display: inline-block;
				left: 25%;
				width: 50%;
				height: rem(1);
			}
		}
	}
}
.bookingItemButtons {
	margin-top: rem(15);
	display: flex;
	flex-wrap: wrap;
	gap: rem(12);
	@media (max-width: $media-m+px) {
		justify-content: space-between;
		column-gap: 0;
	}
}
body .bookingItemBtn {
	height: rem(35);
	padding: 0 rem(24);
	font-size: rem(16);
	@media (max-width: $media-m+px) {
		flex: 0 1 calc(50% - rem(6));
	}
}
.bookingInfoBox {
	// background-color: orange;
	color: var(--color02);
	fill: var(--color02);
	.historyItem & {
		opacity: 0.7;
	}
}
.bookingTitle {
	font-size: rem(20);
}
.bookingText {
	margin-top: rem(15);
	display: flex;
	align-items: center;
	font-size: rem(16);
}
.bookingIcon {
	margin-right: rem(6);
	margin-bottom: rem(3);
	width: rem(20);
	height: rem(20);
}
.historyItemDeleteBtn {
	margin-top: rem(15);
	color: var(--color03);
	fill: var(--color03);
	background-color: transparent;
	font-size: rem(16);
	display: flex;
	align-items: center;
	opacity: 1;
	transition: opacity $timer-hover;
	&:hover {
		@media (min-width: $media-tl+1+px) {
			opacity: 0.7;
		}
	}
	@media (max-width: $media-m+px) {
		margin-left: auto;
		margin-right: auto;
	}
}
.historyMoreBtn {
	grid-column: span 4;
	padding: 0 rem(24);
	justify-self: end;
	height: rem(35);
	@media (max-width: $media-ts+px) {
		grid-column: span 2;
	}
	@media (max-width: $media-m+px) {
		grid-column: span 1;
		justify-self: center;
	}
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
}