@import "../../../styles/variables.scss";

.header {
	top: var(--header-position); //REQ!
	left: 0; //REQ!
	z-index: 51; //REQ!
	// width: 100%; //REQ!
	width: 100vw; // test scroll lock
	// max-width: $page-max-width+px; //REQ! set it same as body max-width
	// font-size: 0; // prevent random margins... careful with 'em'
	// Set 'position' inside these subclasses because it depends on script options. But it is unlikely to change default 'positions' values. Try to work with it first.
	&.static {
		position: absolute; //REQ! one
	}
	&.fixed {
		position: fixed; //REQ! one
	}
	&.active {}
	// classes for 'sharing mode', e.g. if 'modal' calls header and uses its close button
	&.sharing {}
	&.sharing-z {
		z-index: 501;
	}
	box-shadow: 0 0 5px 0 transparent;
	transition: box-shadow $timer-header-compact;
	&.compact {
		box-shadow: 0 0 5px 0 var(--color06);
	}
	// &_compact .logo__link { // compact mode test
	// 	@media (min-width: $media-mxl+1+px) {font-size: 20px;}
	// }
}

.level {
	position: relative; //REQ! for submenu positioning
	padding: 36px 0 16px 0;
	padding-right: var(--scrollbar-width); // test scroll lock
	background-color: var(--color01);
	@media (min-width: $media-ts+1+px) {
		transition: padding-top $timer-header-compact;
		.header_compact & {
			padding-top: calc(36px - var(--compact-mode-padding-reduced));
		}
	}
	@media (max-width: $media-ts+px) {
		padding: 14px 0 10px 0;
		padding-right: var(--scrollbar-width); // test scroll lock
	}
	@media (max-width: $media-ml+px) {
		padding: 2px 0 6px 0;
		padding-right: var(--scrollbar-width); // test scroll lock
	}
}
.container {
	background-color: var(--color01);
	@media (max-width: $media-ml+px) {
		flex-wrap: wrap;
	}
}

.logo {
	font-size: 20px;
	margin-right: 19px;
	@media (max-width: $media-ml+px) {
		flex: 1 1 100%;
		text-align: center;
	}
}
.header .divider {
	margin-left: 19px;
	@media (max-width: $media-ts+px) {
		margin-left: 10px;
	}
	@media (max-width: $media-ml+px) {
		display: none;
	}
}
.printAddress, .printAddressQr {display: none;} //REQ!

.menu {
	position: relative;
}
