@import "../../../scss/variables.scss";

.faq {
	position: relative;
	padding: 30px 0 38px;
	@media (max-width: $media-ml+px) {
		padding: 20px 0 30px;
	}
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: scaleX(-100%);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to left, var(--color02) 40%, transparent);
	}
	@media (max-width: $media-ml+px) {
		&:before {
			background: rgba(0,0,0,0.75);
		}
	}
}
.title {
	font-size: 36px;
	color: var(--color01);
	@media (max-width: $media-ml+px) {
		font-size: 24px;
		text-align: center;
	}
}
.faqItems {
	margin-top: 32px;
	max-width: 520px;
	color: var(--color01);
	@media (max-width: $media-ml+px) {
		margin-top: 10px;
	}
}
.item {
	display: grid;
	grid-template-columns: minmax(21px, auto) 1px 1fr;
	grid-template-rows: repeat(2, auto);
	grid-column-gap: 22px;
	align-items: center;
	&:not(:last-child) {
		margin-bottom: 24px;
	}
	@media (max-width: $media-ml+px) {
		grid-column-gap: resize-multiplier(22, $media-ml, 1.4);
	}
}
.index {
	grid-row: 1/-1;
	font-size: 36px;
}
.divider {
	grid-row: 1/-1;
	opacity: 0.5;
}
.question {
	font-size: 20px;
	line-height: 23px;
	@media (max-width: $media-ml+px) {
		font-size: 16px;
	}
}
.answer {
	margin-top: 8px;
	font-size: 16px;
	line-height: 19px;
	opacity: 0.5;
}