@import "../../../scss/variables.scss";

.faq {
	position: relative;
	padding: rem(40) 0;
	@media (max-width: $media-ml+px) {
		padding: rem(30) 0;
	}
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	transform: scaleX(-100%);
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: inline-block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to left, var(--color02) 40%, transparent);
	}
	@media (max-width: $media-ml+px) {
		&:before {
			background: rgba(0,0,0,0.75);
		}
	}
}
.title {
	font-size: rem(36);
	color: var(--color01);
	@media (max-width: $media-ml+px) {
		font-size: rem(24);
		text-align: center;
	}
}
.faqItems {
	margin-top: rem(32);
	max-width: rem(520);
	color: var(--color01);
	@media (max-width: $media-ml+px) {
		margin-top: rem(10);
	}
}
.item {
	display: grid;
	grid-template-columns: minmax(rem(21), auto) rem(1) 1fr;
	grid-template-rows: repeat(2, auto);
	grid-column-gap: rem(22);
	align-items: center;
	&:not(:last-child) {
		margin-bottom: rem(24);
	}
	@media (max-width: $media-ml+px) {
		grid-column-gap: resize-multiplier(22, $media-ml, 1.4);
	}
}
.index {
	grid-row: 1/-1;
	font-size: rem(36);
}
.divider {
	grid-row: 1/-1;
	opacity: 0.5;
}
.question {
	font-size: rem(20);
	line-height: rem(23);
	@media (max-width: $media-ml+px) {
		font-size: rem(16);
	}
}
.answer {
	margin-top: rem(8);
	font-size: rem(16);
	line-height: rem(19);
	opacity: 0.5;
}