@import "../../../scss/variables.scss";

.default {
	display: flex;
	align-items: center;
}

.icon {
	margin-right: rem(6);
	cursor: default;
	svg {
		width: rem(16);
		height: rem(16);
		fill: var(--color02);
	}
}
