@import "../../../styles/variables.scss";

.banner {
	position: relative;
	height: 800px;
	padding-top: calc(80px + var(--compact-mode-padding-reduced));
	padding-bottom: 90px;
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}


.features {
	margin-top: 149px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
	min-height: 187px;
	color: var(--color01);
	fill: var(--color01);
	text-align: center;
}
.featuresItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	& > *:last-child {
		margin-top: 8px;
	}
}
.featuresTitle, .featuresText {
	@include text-nowrap();
}
.featuresTitle {
	font-size: 20px;
}
.featuresIcon {
	margin-bottom: 27px;
}
.blur {
	background-color: rgba(255, 255, 255, 0.2);
	border-top: 3px solid rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	backdrop-filter: blur(4.5px);
}