@import "../../../scss/variables.scss";

.banner {
	position: relative;
	margin-top: calc(-1 * var(--compact-mode-offset));
	padding-top: calc(rem(80) + var(--compact-mode-offset));
	padding-bottom: rem(90);
	@media (max-width: $media-form+px) {
		padding-bottom: rem(70);
	}
	@media (max-width: $media-form2+px) {
		padding-top: calc(rem(50) + var(--compact-mode-offset));
		padding-bottom: rem(50);
	}
	@media (max-width: $media-ml+px) {
		padding-top: 0;
		padding-bottom: rem(20);
	}
}
.bg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

.form {
	@media (max-width: $media-ml+px) {
		padding-top: calc(rem(15) + var(--compact-mode-offset));
		position: relative;
		padding: rem(15) 0 rem(18);
	}
}
.formTitle {
	margin-bottom: rem(57);
	@media (max-width: $media-form2+px) {
		margin-bottom: rem(30);
	}
	@media (max-width: $media-ml+px) {
		margin-bottom: rem(15);
		position: relative;
	}
}
.blur {
	background-color: rgba(255, 255, 255, 0.2);
	border-top: rem(3) solid rgba(255, 255, 255, 0.2);
	border-radius: rem(16);
	backdrop-filter: blur(4.5px);
}
.features {
	margin-top: rem(149);
	@media (max-width: $media-form+px) {
		margin-top: rem(110);
	}
	@media (max-width: $media-form2+px) {
		margin-top: rem(70);
	}
	@media (max-width: $media-ml+px) {
		margin-top: 0;
	}
	.container {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-column-gap: rem(30);
		min-height: rem(187);
		color: var(--color01);
		fill: var(--color01);
		text-align: center;
		@media (max-width: $media-ts+px) {
			grid-column-gap: rem(10);
		}
		@media (max-width: $media-mxl+px) {
			padding-left: 0;
			padding-right: 0;
			grid-column-gap: 0;
		}
		@media (max-width: $media-ml+px) {
			width: fit-content;
			grid-template-columns: 100%;
			color: var(--color02);
			fill: var(--color02);
		}
	}
}
.featuresItem {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: rem(27) rem(10);
	& > *:last-child {
		margin-top: rem(8);
	}
	@media (max-width: $media-mxl+px) {
		border-radius: 0;
		position: relative;
		&:not(:first-child):after {
			content: '';
			position: absolute;
			top: calc(50% - 35%);
			left: 0;
			display: inline-block;
			width: rem(1);
			height: 70%;
			background-color: var(--color01);
			opacity: 0.5;
		}
	}
	@media (max-width: $media-ml+px) {
		padding: rem(16) rem(10);
		background-color: var(--color01);
		backdrop-filter: none;
		border: none;
		border-bottom: solid rem(1) var(--color02);
	}
}
.featuresIcon {
	width: rem(42);
	height: rem(42);
	&[name='icon-lorry'] {
		width: rem(47);
		height: rem(47);
	}
}
.featuresContent {
	flex-grow: 1;
	margin-top: rem(15);
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.featuresTitle {
	font-size: rem(20);
	margin-bottom: rem(8);
}
