@import "../../../styles/variables.scss";

.form {
	position: relative;
	z-index: 9;
	margin-top: 57px;
	padding: 50px 24px 30px;
	display: grid;
	/* grid-template-columns: repeat(6, auto); */
	grid-template-columns: auto 1px auto 1px auto;
	grid-column-gap: 8px;
	align-items: center;
}
.checkboxes {
	grid-column: 1/-1;
	margin-top: 14px;
	& > * {
		margin-right: 20px;
	}
}
.submitBtn {
	width: 221px;
	height: 80px;
	border-radius: 70px;
	font-size: 24px;
}

