@import "../../../scss/variables.scss";

.footer {
	background-color: var(--color02);
	color: var(--color01);
	fill: var(--color01);
	@media (max-width: $media-ts+px) {
		position: relative;
	}
}
.top {
	padding: rem(26) 0;
	border-bottom: solid rem(1) rgba(255,255,255,0.3);
	.container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.callInput {
		flex: 0 1 rem(434);
		margin-right: rem(18);
		padding: 0 rem(20);
		height: rem(51);
		border-radius: rem(53);
		border: solid rem(1) var(--color01);
		background-color: var(--color02);
		color: var(--color01);
		font-size: rem(16);
		box-shadow: inset 0 rem(1000) 0 0 var(--color02);
		-webkit-text-fill-color: var(--color01);
		&::placeholder {
			opacity: 0.5;
		}
	}
	.callButton {
		flex: 0 0 auto;
		padding: 0 rem(24);
		height: rem(51);
		border-radius: rem(53);
	}
	@media (max-width: $media-ts+px) {
		padding: rem(20) 0;
		.container {
			flex-direction: column;
		}
		.callInput {
			flex: 0 0 rem(51);
			margin-right: 0;
			height: rem(51);
			max-width: rem(300);
		}
		.callButton {
			flex: 0 0 rem(51);
			width: 100%;
			max-width: rem(300);
			margin-top: rem(8);
		}
	}
	@media print {
		display: none;
	}
}

.bottom {
	position: relative;
	z-index: 3;
	height: rem(330);
	.container {
		height: 100%;
		overflow: hidden;
	}
	@media (max-width: $media-ts+px) {
		height: auto;
		padding-bottom: rem(70);
	}
}
.footerContent {
	position: relative;
	z-index: 3;
	max-width: rem(560);
	height: 100%;
	padding-top: rem(20);
	padding-bottom: rem(33);
	display: grid;
	grid-template-columns: auto rem(160) 1fr;
	grid-column-gap: rem(30);
	background-color: var(--color02);
	&:before {
		content: '';
		position: absolute;
		top: rem(-185);
		right: rem(-260);
		z-index: -1;
		display: inline-block;
		width: rem(590);
		height: rem(500);
		transform: rotate(107deg);
		background-image: linear-gradient(to top, var(--color02) 70%, transparent);
	}
	@media (max-width: $media-ts+px) {
		position: static;
		margin: 0 auto;
		padding-top: rem(15);
		padding-bottom: rem(20);
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		&:before {
			display: none;
		}
	}
	@media print {
		background-color: white;
	}
}
.map {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	max-width: rem(1000);
	height: 100%;
	overflow: hidden;
	@media (min-width: $media-ts+1+px) {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: rem(-2);
			z-index: 2;
			display: inline-block;
			width: rem(100);
			height: 100%;
			background-image: linear-gradient(to right, var(--color02) 10%, transparent);
		}
	}
	@media (max-width: $media-d+px) {
		width: resize-multiplier(1000, $media-d, 0.8);
	}
	@media (max-width: $media-ts+px) {
		position: relative;
		width: 100%;
		max-width: 2000px;
		height: rem(396);
	}
	@media print {
		display: none;
	}
}
.mapBox {
	position: relative;
	width: rem(1000);
	height: 100%;
	object-fit: cover;
	object-position: left;
	@media (max-width: $media-ts+px) {
		width: 100%;
	}
}
body {
	.mapLink {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		&:hover + .mapBox {
			@media (min-width: $media-tl+1+px) {
				filter: brightness(120%);
			}
		}
	}
}
.point {
	position: absolute;
	top: calc(50% - rem(15));
	left: calc(50% - rem(15));
	width: rem(30);
	height: rem(30);
	fill: var(--color03);
}

body {
	.logo {
		@media (max-width: $media-ts+px) {
			grid-column: span 2;
			justify-self: center;
			margin-bottom: rem(20);
		}
		@media print {
			display: none;
		}
	}
	.menuItems {
		margin-top: rem(12);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		@media (max-width: $media-ts+px) {
			grid-column: span 2;
			justify-self: center;

			margin-top: 0;
			width: 100%;
			flex-direction: row;
			flex-wrap: wrap;
			column-gap: rem(15);
			justify-content: space-between;
		}
	}
	.menuItem {
		width: auto;
		transition: opacity $timer-hover;
		&:hover {
			@media (min-width: $media-tl+1+px) {
				color: var(--color01);
				opacity: 0.5;
			}
		}
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
		@media (max-width: $media-ts+px) {
			justify-self: center;
			height: rem(43);
			white-space: normal;
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}
	.contacts {
		margin-top: rem(12);
		@media (max-width: $media-ts+px) {
			grid-column: 1;
			margin-top: rem(20);
		}
	}
	.copyright {
		margin-top: rem(80);
		grid-column: 1/-1;
		@media (max-width: $media-ts+px) {
			margin-top: rem(15);
			grid-column: 2;
			justify-self: end;
			align-self: end;
		}
		@media print {
			display: none;
		}
	}
}
