@import "../../../../scss/variables.scss";

.form {
	width: 100vw;
	max-width: rem(630);
	padding: rem(50) 0;
	position: relative;
	.container {
		max-width: rem(470); //410+20*2
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
}
.title {
	font-size: rem(24);
	margin-bottom: rem(30);
}
body .inputText, body .inputPassword {
	margin-bottom: rem(15);
	height: rem(60);
	padding: 0 rem(24);
	font-size: rem(20);
	border: solid rem(1) var(--color02);
	@media (max-width: $media-ml+px) {
		font-size: rem(16);
	}
	&::placeholder {
		opacity: 0.5;
	}
	&.error {
		border-color: var(--color07);
	}
}
.InputPassword {
	margin-top: rem(16);
	padding: 0 0 0 rem(24);
}
.button {
	margin-top: rem(30);
	min-width: rem(143);
	height: rem(43);
	font-size: rem(16);
	&.settingsPhotoBtn {
		margin-top: 0; //16
	}
	&.settingsSubmitBtn {
		margin-top: 0;
		@media (max-width: $media-m+px) {
			margin-top: rem(10);
		}
	}
}
.link {
	align-self: flex-start;
	margin-top: rem(14);
	color: var(--color02);
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
	transition: color $timer-hover;
	&:hover {
		@media (min-width: $media-tl+1+px) {
			color: var(--color03);
		}
	}
	&.centered {
		align-self: center;
	}
}
body .checkbox {
	margin-top: rem(14);
	align-self: flex-start;
	color: var(--color02);
	&.error {
		i {
			border-color: var(--color07);
		}
	}
}
.checkboxText {
	font-size: rem(16);
	& > * {
		margin-right: em(4);
	}
}
.formMessage {
	font-size: rem(20);
	min-height: rem(24);
	color: var(--color08);
	text-align: center;
	&.error {
		color: var(--color07);
	}
	@media (max-width: $media-m+px) {
		margin-left: 0;
		font-size: rem(16);
		min-height: rem(20);
	}
	.settingsForm & {
		margin-left: rem(15);
	}
}
.sectionTitle {
	font-size: rem(18);
	&:not(:first-child) {
		margin-top: rem(10);
	}
}

.settingsForm {
	position: relative;
	display: grid;
	grid-template-columns: rem(410) auto;
	grid-column-gap: rem(28);
	grid-row-gap: rem(20);
	width: 100%;
	@media (max-width: $media-ts+px) {
		grid-template-columns: 2fr 1fr;
		justify-content: space-between;
	}
	@media (max-width: $media-ml+px) {
		grid-column-gap: rem(10);
	}
	@media (max-width: $media-m+px) {
		grid-template-columns: 100%;
		grid-row-gap: rem(10);
	}
}
.settingsInputs {
	max-width: rem(410);
	& > * {
		margin-bottom: rem(10);
	}
}
.settingsPhoto {
	max-width: rem(200);
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: $media-m+px) {
		justify-self: center;
	}
}
.settingsPhotoBox {
	position: relative;
	width: 100%;
}
.settingsPhotoClearBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
	background-color: var(--color01);
	width: rem(30);
	height: rem(30);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	svg {
		width: 60%;
		height: 60%;
		fill: var(--color02);
	}
}
.settingsSubmit {
	grid-column: span 2;
	display: flex;
	align-items: center;
	@media (max-width: $media-m+px) {
		grid-column: 1;
		flex-direction: column-reverse;
	}
}


.inputFile {
	margin-top: rem(16);
}

.guestButton {
	margin-top: rem(20);
	padding: rem(5) rem(15);
	font-size: rem(20);
	background-color: var(--color05);
}