@import "../../../../scss/variables.scss";

.form {
	width: 100vw;
	max-width: 630px;
	padding: 50px 0;
	position: relative;
	.container {
		max-width: 470px; //410+20*2
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
}
.title {
	font-size: 24px;
	margin-bottom: 30px;
}
body .inputText, body .inputPassword {
	margin-bottom: 15px;
	height: 60px;
	padding: 0 24px;
	font-size: 20px;
	border: solid 1px var(--color02);
	@media (max-width: $media-ml+px) {
		font-size: 16px;
	}
	&::placeholder {
		opacity: 0.5;
	}
	&.error {
		border-color: red;
	}
}
.InputPassword {
	margin-top: 16px;
	padding: 0 0 0 24px;
}
.button {
	margin-top: 30px;
	min-width: 143px;
	height: 43px;
	font-size: 16px;
	&.settingsPhotoBtn {
		margin-top: 0; //16
	}
	&.settingsSubmitBtn {
		margin-top: 0;
		@media (max-width: $media-m+px) {
			margin-top: 10px;
		}
	}
}
.link {
	align-self: flex-start;
	margin-top: 14px;
	color: var(--color02);
	text-decoration: underline;
	cursor: pointer;
	user-select: none;
	transition: color $timer-hover;
	&:hover {
		color: var(--color03);
	}
	&.centered {
		align-self: center;
	}
}
body .checkbox {
	margin-top: 14px;
	align-self: flex-start;
	color: var(--color02);
	&.error {
		i {
			border-color: var(--color07);
		}
	}
}
.checkboxText {
	font-size: 16px;
	& > * {
		margin-right: em(4);
	}
}
.formMessage {
	margin-left: 20px;
	font-size: 20px;
	min-height: 24px;
	color: var(--color08);
	&.error {
		color: var(--color07);
	}
	@media (max-width: $media-m+px) {
		margin-left: 0;
		font-size: 16px;
		min-height: 20px;
	}
}
.sectionTitle {
	font-size: 18px;
	&:not(:first-child) {
		margin-top: 10px;
	}
}

.settingsForm {
	position: relative;
	display: grid;
	grid-template-columns: 410px auto;
	grid-column-gap: 28px;
	grid-row-gap: 20px;
	width: 100%;
	@media (max-width: $media-t+px) {
		grid-template-columns: 2fr 1fr;
		justify-content: space-between;
	}
	@media (max-width: $media-ml+px) {
		grid-column-gap: 10px;
	}
	@media (max-width: $media-m+px) {
		grid-template-columns: 100%;
		grid-row-gap: 10px;
	}
}
.settingsInputs {
	max-width: 410px;
	& > * {
		margin-bottom: 10px;
	}
}
.settingsPhoto {
	max-width: 200px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: $media-m+px) {
		justify-self: center;
	}
}
.settingsPhotoBox {
	position: relative;
	width: 100%;
	// height: 100%;
}
.settingsPhotoClearBtn {
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: 5;
	background-color: var(--color01);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	svg {
		width: 60%;
		height: 60%;
		fill: var(--color02);
	}
}
.settingsSubmit {
	grid-column: span 2;
	display: flex;
	align-items: center;
	@media (max-width: $media-m+px) {
		grid-column: 1;
		flex-direction: column-reverse;
	}
}


.inputFile {
	margin-top: 16px;
}
