@import "../../../../../scss/variables.scss";

body .popup {
	left: calc(50% - rem(153));
	top: calc(100% + rem(6));
	@media (max-width: $media-ml+px) {
		left: 0;
		width: 100%;
	}
}
.popupContent {
	position: relative;
	height: rem(380);
	background-color: var(--color01);
	color: var(--color02);
	border-radius: rem(16);
	user-select: none;
	box-shadow: 0 0 rem(5) 0 var(--color06);
	.divider {
		position: absolute;
		left: rem(140);
		top: 14%;
		height: 72%;
	}
}

.listWrapper {
	margin-right: rem(10);
	padding: rem(16) rem(10);
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	&::-webkit-scrollbar {
		width: rem(16);
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color01);
		border-radius: rem(10);
		border: solid rem(1) var(--color02);
	}
	&::-webkit-scrollbar-track {
		background: var(--color02);
		border-radius: rem(10);
		margin-top: rem(20);
		margin-bottom: rem(20);
	}
	scrollbar-width: thin; // = 8
	scrollbar-color: var(--color01) var(--color02); // thumb track
	overscroll-behavior: contain;
	@media (max-width: $media-ml+px) {
		&::-webkit-scrollbar {
			width: rem(8);
		}
	}
}
.list {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-column-gap: rem(20);
}
.item {
	width: rem(120);
	height: rem(50);
	font-size: rem(20);
	border-radius: rem(33);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: background-color $timer-hover, color $timer-hover;
	@media (max-width: $media-form2+px) {
		font-size: rem(18);
	}
	@media (max-width: $media-ml+px) {
		font-size: rem(16);
	}
	&:hover, &.active {
		background-color: var(--color02);
		color: var(--color01);
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
