@import "../../../styles/variables.scss";

.default {
	// background-color: orange;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity $timer-popup, visibility $timer-popup;
}

.active {
	opacity: 1;
	visibility: visible;
}
