@import "../../../../scss/variables.scss";

.full, .short {
	position: relative;
	z-index: 9;
	padding: rem(30) rem(24);
	display: grid;
	grid-template-columns: 1fr repeat(3, auto);
	grid-column-gap: rem(17); // 8 * 2 + 1(divider-line)
	@media (max-width: $media-form+px) {
		@media (min-width: $media-form2+1+px) {
			grid-row-gap: rem(26);
		}
	}
	@media (max-width: $media-form2+px) {
		max-width: rem(660);
		margin: 0 auto;
	}
	@media (max-width: $media-ml+px) {
		padding: rem(36) rem(8) rem(16);
		width: 100%;
		max-width: rem(400);
	}
}
.full {
	padding: rem(30) 0;
	@media (max-width: $media-form2+px) {
		grid-template-columns: 100%;
	}
}
.short {
	@media (max-width: $media-form+px) {
		grid-template-columns: 1fr auto;
	}
	@media (max-width: $media-form2+px) {
		grid-template-columns: auto;
	}
}
.location, .period {
	position: relative;
	&:after {
		content: '';
		position: absolute;
		top: calc(50% - rem(20) + rem(12));
		right: rem(-8);
		display: inline-block;
		width: rem(1);
		height: rem(40);
		background-color: var(--color01);
		opacity: 0.5;
		.full & {
			background-color: var(--color02);
		}
	}
}
.location {
	width: 100%;
	@media (max-width: $media-form2+px) and (min-width: $media-ml+1+px) {
		grid-column: span 2;
	}
	.full & {
		@media (max-width: $media-form+px) and (min-width: $media-ml+1+px) {
			grid-column: span 2;
		}
		@media (max-width: $media-form2+px) {
			grid-column: 1;
		}
	}
	&:after {
		@media (max-width: $media-form2+px) {
			display: none;
		}
	}
}
.period {
	grid-column: span 2;
	@media (max-width: $media-form2+px) {
		grid-column: span 2;
		grid-row: 2;
		margin-bottom: rem(33);
		.full & {
			grid-column: 1;
		}
	}
	@media (max-width: $media-ml+px) {
		grid-column: 1;
	}
	&:after {
		@media (max-width: $media-form+px) {
			display: none;
		}
		@media (max-width: $media-form2+px) {
			display: block;
			top: calc(100% + rem(12));
			right: calc(50% - 35%);
			width: 70%;
			height: rem(1);
		}
	}
}
.options {
	grid-column: 1/-1;
	margin-top: rem(14);
	align-self: center;
	.full & {
		margin-bottom: rem(30);
	}
	@media (max-width: $media-form+px) {
		margin-top: 0;
		.short & {
			grid-column: span 2;
			grid-row: 2;
		}
		.full & {
			margin-bottom: 0;
		}
	}
	@media (max-width: $media-form2+px) {
		.short & {
			grid-column: 1;
			grid-row: 3;
		}
	}
	@media (max-width: $media-ml+px) {
		margin: 0 rem(13);
	}
}
body .submitBtn {
	width: rem(221);
	height: rem(80);
	border-radius: rem(70);
	font-size: rem(24);
	align-self: end;
	@media (max-width: $media-form+px) {
		grid-column: 3;
		justify-self: end;
		height: rem(60);
	}
	@media (max-width: $media-form2+px) {
		font-size: rem(20);
	}
	@media (max-width: $media-ml+px) {
		grid-column: 1;
		grid-row: 6;
		margin: rem(18) auto 0;
		padding: 0 rem(32);
		width: auto;
		height: rem(50);
		font-size: rem(16);
	}
	&_bottom {
		margin: 0 auto;
		grid-column: span 4;
	}
}
.full {
	.submitBtn {
		@media (max-width: $media-form+px) {
			&:not(.submitBtn_bottom) {
				display: none;
			}
		}
		@media (max-width: $media-form2+px) {
			grid-row: 10;
			grid-column: 1;
		}
	}
}
.short {
	.submitBtn {
		@media (max-width: $media-form2+px) {
			grid-column: 2;
			grid-row: 3;
		}
		@media (max-width: $media-ml+px) {
			grid-column: 1;
			grid-row: 6;
		}
	}
}

.carSelect {
	grid-column: span 3;
	max-width: rem(820);
	justify-self: end;
	@media (max-width: $media-form2+px) {
		grid-row: 5;
		grid-column: 1;
		margin-top: rem(20);
	}
}
.totals {
	width: 100%;
	@media (max-width: $media-form2+px) {
		grid-row: 8;
		margin-top: rem(20);
	}
}

.formMessage {
	grid-column: span 4;
	margin-top: rem(30);
	margin-bottom: rem(30);
	min-height: rem(24);
	font-size: rem(20);
	text-align: center;
	color: var(--color07);
	@media (max-width: $media-form+px) {
		margin-top: 0;
		margin-bottom: 0;
	}
	@media (max-width: $media-form2+px) {
		grid-column: 1;
		grid-row: 9;
		margin-top: rem(10);
		margin-bottom: rem(10);
	}
}

.confirmContent {
	width: 100vw;
	max-width: rem(500);
	min-height: rem(300);
	padding: rem(10);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p {
		font-size: rem(18);
		text-align: center;
	}
}
p.confirmTitle {
	margin: rem(20) 0;
	font-size: rem(24);
}
.confirmButton {
	margin-top: rem(14);
	margin-bottom: rem(20);
	min-width: rem(100);
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
}