.header {
	height: 120px;
}
.menu {
	margin-top: 12px;
	display: flex;
	align-items: center;
}
.pages {
	display: flex;
}
.item {
	margin-left: 48px;
	height: 30px;
	display: flex;
	align-items: center;
}
.account {
	display: flex;
	align-items: center;
}
.account > * {
	margin-left: 28px;
}