@import "../../../../scss/variables.scss";

.wrapper {
	padding-right: 20px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: 20px;
	@media (max-width: $media-ts+px) {
		padding: 0;
		font-weight: 500;
	}
}

.currencyIcon {
	width: 16px;
	height: 16px;
	fill: var(--color02);
}
