@import "../../../../scss/variables.scss";

.wrapper {
	padding-right: rem(20);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	font-size: rem(20);
	@media (max-width: $media-ts+px) {
		padding: 0;
		font-weight: 500;
	}
}

.currencyIcon {
	width: rem(16);
	height: rem(16);
	fill: var(--color02);
}
