@import "../../../styles/variables.scss";

.select {
	position: relative;
	display: flex;
	align-items: center;
	/* width: 87px; */
	/* padding-left: 45px; */
	height: 27px;
	transition: all $timer-select;
	font-size: 16px;
}
.header {
	position: relative;
	z-index: 3;
	height: 100%;
	padding: 0 4px;
	display: flex;
	align-items: center;
	/* background-color: var(--color02); */
	user-select: none;
	border-radius: 8px;
	cursor: pointer;
	transition: color $timer-select, fill $timer-select;
	&.active {
		color: var(--color01);
		fill: var(--color01);
	}
}
.headerText {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
}
// .header.active {
// 	color: var(--color01);
// 	fill: var(--color01);
// }
.typeIcon {
	margin-right: 6px;
	/* position: absolute;
	left: -25px; */
	cursor: default;
}
.typeIcon svg {
	width: 16px;
	height: 16px;
	fill: var(--color02);
}
.headerExpandIcon {
	margin-left: 5px;
	flex: 0 0 auto;
	width: 8px;
	height: 8px;
	display: flex;
	align-items: center;
	transform: rotate(90deg);
}
.headerExpandIcon svg {
	width: 8px;
	height: 8px;
}
/* .header:hover, .select.active .header { */
	/* border-color: yellow; */
/* } */
.listWrapper {
	position: absolute;
	top: 0;
	/* top: calc(100% - 7px); */
	right: 0;
	width: calc(100% - 22px);
	/* left: 0; */
	/* width: 100%; */
	z-index: 2;
	height: 27px;
	overflow: hidden;
	transition: all $timer-select;
	visibility: hidden;
	background-color: var(--color02);
	border-radius: 8px;
	color: var(--color01);
	opacity: 0;
}
.listWrapper.active {
	visibility: visible;
	opacity: 1;
}
.list {
	padding-top: 27px; /* 7 */
}
.option {
	display: flex;
	align-items: center;
	height: 27px;
	padding: 0 4px;
	white-space: nowrap;
	overflow: hidden;
	transition: all $timer-hover;
	user-select: none;
	opacity: 0.5;
	cursor: pointer;
}
.option.selected, .option:hover {
	opacity: 1;
}
