@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

body {
	--font01: 'Roboto', sans-serif;
	--font02: 'Inter', 'Roboto', sans-serif;
	font-family: var(--font01);
	font-size: 16px;
}
