.footer {
	background-color: var(--color02);
	color: var(--color01);
	fill: var(--color01);
}
.top {
	padding: 26px 10px 31px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.callInput {
	flex: 0 1 434px;
	margin-right: 18px;
	padding: 0 20px;
	height: 51px;
	border-radius: 53px;
	border: solid 1px var(--color01);
	background-color: var(--color02);
	color: var(--color01);
	font-size: 16px;
	box-shadow: inset 0 1000px 0 0 var(--color02);
	-webkit-text-fill-color: var(--color01);
}
.callInput::placeholder {
	opacity: 0.5;
}
.textButton {
	flex: 0 1 140px;
	height: 51px;
	border-radius: 53px;
}

.bottom {
	position: relative;
	/* margin-top: 22px; */
	padding-bottom: 33px;
	height: 330px;
}
.menu {
	display: grid;
	grid-template-columns: auto 160px 1fr;
	grid-column-gap: 30px;
}
.links {
	margin-top: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.link {
	width: min-content;
	transition: opacity var(--timer-hover);
}
.link:hover {
	color: var(--color01);
	opacity: 0.5;
}
.link:not(:last-child) {
	margin-bottom: 24px;
}
.contacts {
	margin-top: 12px;
}
.contacts > *:not(:last-child) {
	margin-bottom: 19px;
}
.contactsItem {
	width: min-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.contactsItem > *:not(:last-child) {
	margin-right: 9px;
}
.contactsItemLink {
	flex-grow: 0;
	transition: opacity var(--timer-hover);
}
.contactsItemLink:hover {
	color: var(--color01);
	opacity: 0.5;
}
.socials {

}
.socialBtn {
	width: 40px;
	height: 40px;
	background-color: transparent;
	fill: var(--color01);
	border-color: var(--color01);
	transition: opacity var(--timer-hover);
}
.socialBtn:not(:last-child) {
	margin-right: 8px;
}
.socialBtn:hover {
	fill: var(--color01);
	background-color: transparent;
	opacity: 0.5;
}

.map {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;
	overflow: hidden;
}
.map:before {
	content: '';
	position: absolute;
	top: 20px;
	left: -190px;
	display: inline-block;
	width: 590px;
	height: 500px;
	transform: rotate(50deg);
	background-image: linear-gradient(to top, var(--color02) 70%, transparent);
}
.point {
	position: absolute;
	top: 70%;
	left: 70%;
	width: 30px;
	height: 30px;
	fill: var(--color03);
}
.copyright {
	margin-top: 80px;
	opacity: 0.5;
}
.author {
	display: inline-flex;
	flex-direction: column;
}
.author > * {
	/* display: inline-block; */
	line-height: 19px;
}
.policy {
	margin-left: 25px;
	display: inline-flex;
	flex-direction: column;
}
.policyLink {
	font-size: 14px;
	text-decoration: underline;
}
.policyLink:not(:last-child) {
	margin-bottom: 16px;
}
