@import "../../../../scss/variables.scss";

.wrapper {
	position: relative;
}

.item {
	margin-top: rem(12);
	display: flex;
	align-items: center;
	font-size: rem(20);
	word-break: break-word;
	@media (max-width: $media-ts+px) {
		font-size: rem(16);
	}
}
.icon {
	margin-right: rem(10);
	width: rem(16);
	height: rem(16);
	fill: var(--color02);
	stroke: var(--color02);
}
