@import "../../../../scss/variables.scss";

.wrapper {
	position: relative;
}

.item {
	margin-top: 12px;
	display: flex;
	align-items: center;
	font-size: 20px;
	word-break: break-word;
	@media (max-width: $media-ts+px) {
		font-size: 16px;
	}
}
.icon {
	margin-right: 10px;
	width: 16px;
	height: 16px;
	fill: var(--color02);
	stroke: var(--color02);
}
