.wrapper {
	display: inline-flex;
}
.wrapper input {
	display: none;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	background-color: transparent;
	border: 1px solid var(--color01);
	border-radius: 2px;
	cursor: pointer;
	transition: background-color var(--timer-hover);
}
.boxIcon {
	fill: var(--color02);
	opacity: 0;
	transition: opacity var(--timer-hover);
}
.wrapper input:checked ~ .box {
	background-color: var(--color01);
}
.wrapper input:checked ~ .box .boxIcon {
	opacity: 1;
}
.text {
	margin-left: 8px;
	color: var(--color01);
	user-select: none;
}
