.select {
	position: relative;
	height: 27px;
	cursor: pointer;
	transition: all var(--timer-select);
	font-size: 16px;
	color: var(--color01);
}
.header {
	position: relative;
	height: 100%;
	padding: 0 4px;
	display: flex;
	align-items: center;
	background-color: var(--color02);
	user-select: none;
	border-radius: 8px;
}
.headerText {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
}
.headerTypeIcon {
	position: absolute;
	left: -25px;
	cursor: default;
}
.headerTypeIcon svg {
	width: 16px;
	height: 16px;
	fill: var(--color02);
}
.headerExpandIcon {
	margin-left: 5px;
	flex: 0 0 auto;
	width: 8px;
	height: 8px;
	display: flex;
	align-items: center;
	transform: rotate(90deg);
	fill: var(--color01);
}
.headerExpandIcon svg {
	width: 8px;
	height: 8px;
}
/* .header:hover, .select.active .header { */
	/* border-color: yellow; */
/* } */
.listWrapper {
	position: absolute;
	top: calc(100% - 10px);
	left: 0;
	width: 100%;
	z-index: 2;
	height: 0;
	overflow: hidden;
	transition: all var(--timer-select);
	visibility: hidden;
	background-color: var(--color02);
	border-radius: 0 0 8px 8px;
}
.listWrapper.active {
	visibility: visible;
}
.list {
	padding-top: 7px;
}
.option {
	display: flex;
	align-items: center;
	height: 27px;
	padding: 0 4px;
	white-space: nowrap;
	overflow: hidden;
	transition: all var(--timer-hover);
	user-select: none;
	opacity: 0.5;
}
.option.selected, .option:hover {
	opacity: 1;
}
