@import "../../../scss/variables.scss";

.default, .negative {
	@include text-max-lines(2);
	// display: inline-flex;
	// justify-content: center;
	// align-items: center;
	// width: 100%;
	max-width: 250px;
	height: 43px;
	padding: 0 10px;
	border-radius: 45px;
	font-family: var(--font01);
	font-size: 16px;
	// white-space: nowrap;
	word-break: break-word;
	border: solid 1px var(--color03);
	user-select: none;
	transition: background-color $timer-hover, color $timer-hover, fill $timer-hover;
	@media print {
		display: none;
	}
}
.default, .negative:hover {
	background-color: var(--color03);
	color: var(--color01);
	fill: var(--color01);
}
.default:hover, .negative {
	background-color: var(--color01);
	color: var(--color02);
	fill: var(--color02);
}