@import "../../../../../scss/variables.scss";

body .popup {
	left: calc(50% - rem(352));
	top: calc(100% + rem(6));
	@media (max-width: $media-form+px) and (min-width: $media-form2+1+px) {
		left: auto;
		right: 0;
	}
	@media (max-width: $media-ml+px) { //mxl
		left: calc(50% - rem(206));
	}
	@media (max-width: $media-ml+px) {
		left: 0;
		width: 100%;
	}
	@media (max-width: $media-ms+px) {
		margin-left: rem(-18);
		width: calc(100vw - var(--scrollbar-width));
	}
}
main[page="reservation"] .popup {
	@media (max-width: $media-ms+px) {
		margin-left: rem(-9);
	}
}
.popupContent {
	height: rem(414);
	display: flex;
	background-color: var(--color01);
	color: var(--color02);
	border-radius: rem(16);
	box-shadow: 0 0 rem(5) 0 var(--color06);
	user-select: none;
	@media (max-width: $media-ml+px) { // mxl
		& > *:not(:first-child) {
			display: none;
		}
	}
	@media (max-width: $media-ml+px) {
		width: 100%;
		height: rem(398);
		justify-content: center;
	}
	.divider {
		position: relative;
		top: 16%;
		height: 75%;
	}
}

.month {
	padding: rem(24) rem(8);
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: $media-ml+px) {
		padding: rem(16) 0;
	}
}
.title {
	font-size: rem(20);
	line-height: rem(30);
	text-align: center;
	cursor: default;
}
.days {
	height: rem(48); //?
	display: grid;
	grid-template-columns: repeat(7, rem(48));
	cursor: default;
	@media (max-width: $media-ms+px) {
		grid-template-columns: repeat(7, rem(41));
	}
	& > * {
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color03);
	}
}
.dates {
	display: grid;
	grid-template-columns: repeat(7, auto);
}
.dateItem {
	width: rem(48);
	height: rem(48);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: rem(20);
	border-radius: 50%;
	cursor: pointer;
	transition: background-color $timer-hover, color $timer-hover;
	&:hover, &.active, &.otherPeriodActive {
		color: var(--color01);
	}
	.pickup_date & {
		&:hover, &.active {
			background-color: var(--color02) !important;
		}
		&.otherPeriodActive {
			background-color: var(--color03);
		}
	}
	.return_date & {
		&:hover, &.active {
			background-color: var(--color03) !important;
		}
		&.otherPeriodActive {
			background-color: var(--color02);
		}
	}
	&.disabled {
		pointer-events: none;
		opacity: 0.5;
	}
}
