@import "../../../scss/variables.scss";

.light, .dark {
	display: inline-block;
	width: rem(1);
	height: rem(40);
}
.light {
	background-color: var(--color01);
}
.dark {
	background-color: var(--color02);
	opacity: 0.5;
}