@import "../../../../scss/variables.scss";

.contacts {
	& > *:not(:last-child) {
		margin-bottom: rem(19);
	}
}
.contactsItem {
	width: min-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	& > *:not(:last-child) {
		margin-right: rem(9);
	}
}
body .contactsItemLink {
	flex-grow: 0;
	transition: opacity $timer-hover;
	&:hover {
		@media (min-width: $media-tl+1+px) {
			color: var(--color01);
			opacity: 0.5;
		}
	}
}
.socials {
	display: flex;
}

body {
	.socialBtn {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: rem(40);
		height: rem(40);
		background-color: transparent;
		fill: var(--color01);
		border-color: var(--color01);
		transition: opacity $timer-hover;
		&:not(:last-child) {
			margin-right: rem(16);
		}
		&:hover {
			@media (min-width: $media-tl+1+px) {
				fill: var(--color01);
				background-color: transparent;
				opacity: 0.5;
			}
		}
	}
	.instagram, .telegram {
		width: rem(20);
		height: rem(20);
	}
	.telegram {
		margin-left: rem(-2);
	}
}