@import "../../../../styles/variables.scss";

.contacts {
	& > *:not(:last-child) {
		margin-bottom: 19px;
	}
}
.contactsItem {
	width: min-content;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	& > *:not(:last-child) {
		margin-right: 9px;
	}
}
body .contactsItemLink {
	flex-grow: 0;
	transition: opacity $timer-hover;
	&:hover {
		color: var(--color01);
		opacity: 0.5;
	}
}
.socials {
	display: flex;
}

body {
	.socialBtn {
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 40px;
		height: 40px;
		background-color: transparent;
		fill: var(--color01);
		border-color: var(--color01);
		transition: opacity $timer-hover;
		&:not(:last-child) {
			margin-right: 16px;
		}
		&:hover {
			fill: var(--color01);
			background-color: transparent;
			opacity: 0.5;
		}
	}
	.instagram {}
	.telegram {
		margin-left: -2px;
	}
}