@import "../../../styles/variables.scss";

.default, .siteOptions, .reservation {
	position: relative;
	display: flex;
	align-items: center;
	height: 27px;
	transition: all $timer-select;
	font-size: 16px;
}
.reservation {
	width: 150px;
	height: 30px;
}
.header {
	position: relative;
	z-index: 3;
	height: 100%;
	padding: 0 4px;
	display: flex;
	align-items: center;
	user-select: none;
	border-radius: 8px;
	cursor: pointer;
	transition: color $timer-select, fill $timer-select;
	.reservation & {
		justify-content: center;
		width: 100%;
		border-radius: 18px;
		background-color: var(--color02);
		font-size: 20px;
		@media (max-width: $media-m+px) {
			background-color: transparent;
		}
	}
	&.active, .reservation & {
		color: var(--color01);
		fill: var(--color01);
	}
	.reservation & {
		@media (max-width: $media-m+px) {
			color: var(--color02);
			fill: var(--color02);
		}
	}
	.reservation &.active {
		@media (max-width: $media-m+px) {
			color: var(--color01);
			fill: var(--color01);
		}
	}
}
.headerText {
	flex: 1 1 auto;
	white-space: nowrap;
	overflow: hidden;
	.reservation & {
		flex: 0 0 auto;
	}
}
.headerExpandIcon {
	margin-left: 5px;
	flex: 0 0 auto;
	width: 8px;
	height: 8px;
	display: flex;
	align-items: center;
	transform: rotate(90deg);
	.reservation & {
		width: 11px;
		height: 11px;
	}
}
.headerExpandIcon svg {
	width: 8px;
	height: 8px;
	fill: var(--color02);
	.reservation & {
		margin-bottom: 5px;
		margin-left: 4px;
		width: 11px;
		height: 11px;
	}
}
.listWrapper {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 2;
	height: 27px;
	overflow: hidden;
	transition: all $timer-select;
	visibility: hidden;
	background-color: var(--color02);
	border-radius: 8px;
	color: var(--color01);
	opacity: 0;
	.reservation & {
		border-radius: 18px;
	}
	&.active {
		visibility: visible;
		opacity: 1;
	}
}
.list {
	padding-top: 28px;
	.reservation & {
		padding-top: 30px;
		padding-bottom: 10px;
	}
}
.option {
	display: flex;
	align-items: center;
	height: 27px;
	padding: 0 4px;
	white-space: nowrap;
	overflow: hidden;
	transition: all $timer-hover;
	user-select: none;
	opacity: 0.5;
	cursor: pointer;
	.reservation & {
		height: 28px;
		margin-left: 10px;
	}
	&.selected, &:hover {
		opacity: 1;
	}
}
