// Snippets: cc (var), c (color:var), bgc (bg-color:var), bc (border-color:var)

// Colors //
// place the new theme above the basic theme
// body.theme-dark {
// 	--color01: #000;
// 	--color02: #fff;
// }
body {
// I use css-variables because it's easy to add new color themes.
// Do not set color transition here, it doesn't work with ccs-var that way.
	--color01: #ffffff; // primary
	--color02: #290202; // secondary
	--color03: #FE0000; // accent
	--color04: #E0CC19; // additional
	--color05: #ddd; // ui elements (scrollbar, etc.)
	--color06: #333; // decoration (shadows, etc.)
	--color07: #ff0000; // error
	--color08: #099205; // success
	
	// Google variant
	// --link-color
	// --link-active-color
	// --text-dark-color
	// --text-light-color
	// --color-button
	// --color-button-active
	// --color-button-fill-active
	// --color-link
	// --color-header
}
