@import "../../../../../styles/variables.scss";

.period {
	position: relative;
	display: flex;
	@media (max-width: $media-m+px) {
		flex-direction: column;
	}
	.dateInput, .timeInput {
		height: 80px;
		border-radius: 70px;
		font-size: 20px;
		border: solid 4px transparent;
		transition: border-color $timer-hover, color $timer-hover;
		&.active {
			border-color: var(--color03);
			color: var(--color02) !important;
		}
		// these styles for input as <div>
		background-color: var(--color01);
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		//
		&:hover {
			color: var(--color03);
		}
		@media (max-width: $media-m+px) {
			height: 50px;
			font-size: 16px;
		}
	}
	.dateInput {
		width: 153px;
		@media (max-width: $media-m+px) {
			width: 100%;
		}
	}
	.timeInput {
		width: 137px;
		@media (max-width: $media-m+px) {
			width: 100%;
		}
	}
}
.section {
	position: relative;
	display: flex;
	&:first-child, & > *:not(:last-child) {
		margin-right: 8px;
		@media (max-width: $media-m+px) {
			margin-right: 0;
		}
	}
}
.sectionTitle {
	position: absolute;
	left: 0;
	top: -23px;
	user-select: none;
	color: var(--color01);
}
