@import "../../../../../styles/variables.scss";

.period {
	position: relative;
	display: flex;
	.dateInput, .timeInput {
		height: 80px;
		border-radius: 70px;
		font-size: 20px;
		border: solid 4px transparent;
		transition: border-color $timer-hover;
		&.active {
			border-color: var(--color03);
		}
	}
	// .pickupDate, .returnDate {
	// 	width: 153px;
	// }
	// .pickupTime, .returnTime {
	// 	width: 137px;
	// }
	.dateInput {
		width: 153px;
	}
	.timeInput {
		width: 137px;
	}
}
.section {
	position: relative;
	display: flex;
	&:first-child, & > *:not(:last-child) {
		margin-right: 8px;
	}
}
.sectionTitle {
	position: absolute;
	left: 0;
	top: -23px;
	user-select: none;
	color: var(--color01);
}
